html {
    scrollbar-gutter: stable;
}

.content-body {
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: static;
    width: 48.75em;
}

#searchbar {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #aaa;
    height: 2em;
    margin-top: 1em;
}

#searchbar:focus {
    outline: none;
}

#query-show {
    margin-top: 0;
    margin-bottom: 0;
}

.content-body {
    padding: 1em;
    border: 1px solid silver;
    background-color: #fafafa;
    box-sizing: border-box;
}